.contacts {
  text-transform: uppercase;
  font-weight: 500;

  p {
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: .4rem;
  }

  .contacts__submit {
    margin-top: 20rem;
    margin-bottom: 1rem;
  }

}
