.modal {
  @extend .mobile-nav;
  padding: 0;
  &__close {
    @extend .burger;
    @extend .mobile-nav__burger;
    margin: 2rem 4rem;
    height: 2.7rem;

    &:before {
      content: '';
      @extend %cam;
      background: $secondary_color;
      width: 7rem;
      height: 7rem;
    }
  }
}

