.services {
  &__row {
    border-top: 0.1rem dotted $border_color;
  }

  &__row:first-child {
    border-top: 0.1rem solid $border_color;
  }

  &__column {
    padding: 5rem 0;

    &:first-child .service {
      padding-left: 15rem;
      padding-right: 3.5rem;
    }

    & .js_active {

      &:not(.s-center):before {
        content: '';
        position: absolute;
        top: 0;
        width: 0.1rem;
        height: 100%;
        background: $secondary_color;
        z-index: 3;
      }

      &.s-left:before {
        right: 0rem;
      }

      &.s-right:before {
        left: 0rem;
      }

      &:not(.s-center):after {
        content: '';
        position: absolute;
        top: 1rem;
        width: 1rem;
        height: 1rem;
        color: #a70c5d;
        background: #fff;
        border: 0.1rem solid;
        transform: rotate(45deg);
        box-sizing: border-box;
        z-index: 3;
      }

      &.s-left:after {
        right: -0.5rem;
        border-right-color: transparent;
        border-top-color: transparent;
      }

      &.s-right:after {
        left: -0.5rem;
        border-left-color: transparent;
        border-bottom-color: transparent;
      }

    }

  }

}
