.service {
  position: relative;
  display: block;
  font-size: 1.3rem;
  line-height: 2rem;
  color: $primary_color;
  cursor: pointer;
  padding-left: 18.8rem;

  &__heading {
    position: relative;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $primary_color;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;

    &:before {
      content: '';
      @extend %ibt;
      float: right;
      background: url('assets/img/svg/info.svg') no-repeat center;
      background-size: 1.4rem 1.4rem;
      border: 0.2rem solid $secondary_color_darker;
      width: 3.2rem;
      height: 3.2rem;
      margin: 0 3rem 0 3rem;
      border-radius: 50%;
      box-sizing: border-box;

      @include animation(background-color);
    }
  }

  &:hover {

    svg {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 6s linear forwards;
    }

    .svg__fl:not(.svg__no-st) {
      fill: #fff;
      animation: dash 6s linear forwards, fill 1s linear forwards;
    }

    &__heading {

      &:before {
        color: $color_white;
        background: url('assets/img/svg/info-active.svg') no-repeat center;
        background-size: 1.4rem 1.4rem;
        background-color: $secondary_color;
      }
    }
  }

  &__icon {
    position: absolute;
    margin-left: -7.1rem;
    width: 4.2rem;
  }

  &__info {
    position: absolute;
    top:0;
    opacity: 0;
    background: $color_white;
    padding: 20px;

    transition-duration: $time;
    transition-timing-function: ease;
    transition-property: opacity;

    z-index: -1;

    &.s-center {
      left: 0;
      width: 100%;
      border: 0.1rem solid $secondary_color;
      box-shadow: 0 0 4px rgba(0,0,0,.4);
    }

    &.s-left {
      right: 0rem;
      transform: translateX(100%);
    }

    &.s-right {
      left: 0rem;
      transform: translateX(-100%);
    }
  }

  & > &__text, & > .list {
    display: block;
    padding-right: 5rem;
  }

  .list.pad-r0 {
    padding-right: 0;
  }
}

@include hover-svg-in-block('service');
