.services {
  &__row {
    border-top: 0.1rem dotted $border_color;
    padding: 5rem 0;
  }

  &__row:first-child {
    border-top: 0.1rem solid $border_color;
  }

  &__row:last-child {
    border-bottom: 0.1rem solid $border_color;
  }

  &__block {
    width: 50%;
  }

  &__block {

  }
}
