.service {
  font-size: 1.3rem;
  line-height: 2rem;
  color: $primary_color;
  cursor: pointer;
  margin-left: 8rem;

  &__heading {
    position: relative;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $primary_color;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;

    &:before {
      content: '';
      @extend %ibt;
      float: right;
      background: url('assets/img/svg/info.svg') no-repeat center;
      background-size: 1.4rem 1.4rem;
      border: 0.2rem solid $secondary_color_darker;
      width: 3.2rem;
      height: 3.2rem;
      margin: 0 1rem 0 3rem;
      border-radius: 50%;
      box-sizing: border-box;

      @include animation(background-color);
    }
  }

  &:hover {

    svg {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 6s linear forwards;
    }

    .svg__fl:not(.svg__no-st) {
      fill: #fff;
      animation: dash 6s linear forwards, fill 1s linear;
    }

    &__heading {

      &:before {
        color: $color_white;
        background: url('assets/img/svg/info-active.svg') no-repeat center;
        background-size: 1.4rem 1.4rem;
        background-color: $secondary_color;
      }
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    width: 4.2rem;
  }

  &--with-icon {
    position: relative;
    padding-left: 6rem;
  }

  &__info {
    position: absolute;
    top:0;
    opacity: 0;
    background: $color_white;
    padding: 20px;

    transition-duration: $time;
    transition-timing-function: ease;
    transition-property: opacity;

    z-index: -1;
  }
}

@include hover-svg-in-block('service');
