@media (min-width: 1440px) {
  html {
    font-size: 0.699304vw;
  }
}

@media (max-width: $grid-lg-max) {

  .services {

    &__column {
      padding-left: 2rem;
      padding-right: 2rem;

      &:first-child .service, .service {
        padding-left: 7rem;
        padding-right: 2rem;
      }

    }

    .service__icon {
      position: absolute;
      margin-left: 0;
      left: 0;
      width: 4.2rem;
    }

  }

  .wrap--left {
    padding-left: 6rem;
  }

  .welcome__play {
    opacity: 0.6;
    margin-top: 2rem;

    &:hover {
      opacity: 1;
    }
  }

}

@media (max-width: $grid-md-max) {

  .col-1-2 {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .col-1-3 {
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .welcome {

    .wrap {
      background-position: 0 bottom;
      background-size: auto;
    }

    &__content {
      width: 80%;
      bottom: 0;
      left: 0;
      right: 0;
      padding-left: inherit;
      padding-right: inherit;
    }
  }

  .contacts {

    &__submit {
      margin-top: 5rem;
    }
  }

  .header {

    &__menu {
      display: none;
    }

    &__burger {
      display: inline-block;
    }

    &__lang {
      margin: 0;
    }
  }

  .welcome {

    &__play {
      transform: translateY(0);
      margin-bottom: 2rem;
      text-align: center;
      bottom: 0;
      top: auto;
      left: 0;
      right: 0;
    }

    .btn--play {
      width: auto;
      height: auto;
      background: none;
      border-radius: 0;
      font-size: 2rem;
      padding: 0;



      span, svg {
        display: inline-block;
        vertical-align: middle;
      }

      svg {
        width: 2.3rem;
        margin-right: 1rem;
      }
    }
  }

}

@media (max-width: $grid-sm-max) {

  .col-1-3 {
    width: 100%;
  }

  .testimonials {

    &__block {
      padding-left: 10rem;

      & > p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1rem;
      }

      &:before, &:after {
        top: 0rem;
        left: 6rem;
      }
    }

    &__author-image, &__meta {
      display: inline-block;
      vertical-align: middle;
      margin-right: 2rem;
    }
  }

  .wrap {

    &--grid {
      padding-left: 0;
      padding-right: 0;
    }

    &--left {
      padding-left: 2rem;
      padding-right: 2rem;
    }

  }

  .welcome {
    height: 100%;
    min-height: 0;

    &__content {
      position: relative;
      width: 100%;
      text-align: center;
      padding-top: 13rem;
    }

    &__play {
      position: relative;
      margin-top: 0;
      padding-bottom: 2rem;
    }


  }

  .heading--underline:after {
    margin-left: auto;
    margin-right: auto;
  }


}

@media (max-width: $grid-xs-max) {

  .col-1-3 {
    width: 100%;
  }

  .services {

    &__column {

      &:first-child .service, .service {
        padding-left: 2rem;
        padding-right: 2rem;
      }

    }

    .service {

      &__icon {
        position: relative;
        float: left;
        margin-right: 2rem;
      }

      & > &__text, & > .list {
        display: block;
        padding-right: 0rem;
      }
    }
  }

  .testimonials {

    &__block {
      padding-left: 6rem;

      &:before, &:after {
        top: 0rem;
        left: 2rem;
      }
    }
  }
}

@media (max-width: $grid-xs-min) {
  .services {

    .service__icon {
        position: relative;
        float: none;
        margin-right: 2rem;
    }
  }

  .wrap {

    &--left {
      padding: 0;
    }
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  .header__logo {
    margin-left: 2rem;
    margin-right: 2rem;
  }

}
