.header {
  position: absolute;
  top: 2rem;
  width:100%;
  z-index: 2;

  &__nav {
    float: right;
    margin-right: 2rem;
  }

  &__menu, &__lang {
    @extend %ibm;
  }

  &__menu > li {
    display: inline-block;
    padding: 0 1.7rem;
  }

  &__menu > li a {
    font-size: 1.175rem;
    line-height: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: $primary_color;

    &:hover {
      color: $secondary_color;
    }
  }

  &__lang {
    margin-left: 10rem;
  }

}

.lang {
  position: relative;
  font-size: 1.1rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;

  &__link {
    @extend %ibm;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }

  & > &__link {
    border: 0.2rem solid #dfdfe2;
    border-radius: 2.5rem;

    @include animation(border);

    &:before {
      content: '';
      @extend %ibm;
      width: 1.8rem;
      height: 1.8rem;
      background: #dfdfe2;
      border-radius: 50%;
      margin-right: 1rem;

      @include animation(background);
    }

  }

  &:hover > &__link {
    border-color: $secondary_color;

    &:before {
      background: $secondary_color;
    }

  }

  &__list {
    position: absolute;
    top: 3rem;
    right: 0;
    visibility: hidden;
    opacity: 0;
    @include animation(opacity);

    .lang__item {
      position: relative;
      top: 0;
      right: 0;
      transform: translateZ(0);
      @include animation(transform);

      &:nth-child(1){
        transform: translateY(0%);
      }

      &:nth-child(2) {
        transform: translateY(-100%);
      }
    }

  }

  &:hover &__list {
    visibility: visible;
    opacity: 1;

    .lang__item {
      transform: translateY(0);
    }

  }

}
