.header {
  width:100%;
  position: absolute;
  top: 2rem;
  z-index: 2;

  &__logo {
    width: 10%;
    min-width: 11rem;
    @extend %ibm;

    img {
      width: 100%;
    }
  }

  &__block {
    float: right;
    margin-right: 2rem;
  }

  &__menu, &__lang, &__nav {
    @extend %ibm;
  }

  &__menu > li {
    display: inline-block;
    padding: 0 1.7rem;
  }

  &__menu > li a {
    font-size: 1.175rem;
    line-height: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: $primary_color;

    &:hover {
      color: $secondary_color;
    }
  }

  &__lang {
    margin-left: 10rem;
  }

  &__burger {
    display: none;
    margin-left: 2rem;
    vertical-align: middle;
  }

}

.lang {
  position: relative;
  font-size: 1.1rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;

  &__link {
    @extend %ibm;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }

  & > &__link {
    border: 0.2rem solid #dfdfe2;
    border-radius: 2.5rem;

    @include animation(border);

    &:before {
      content: '';
      @extend %ibm;
      width: 1.8rem;
      height: 1.8rem;
      background: #dfdfe2;
      border-radius: 50%;
      margin-right: 1rem;

      @include animation(background);
    }

  }

  &:hover > &__link {
    border-color: $secondary_color;

    &:before {
      background: $secondary_color;
    }

  }

  &__list {
    position: absolute;
    top: 3rem;
    right: 0;
    visibility: hidden;
    opacity: 0;
    @include animation(opacity);

    .lang__item {
      position: relative;
      top: 0;
      right: 0;
      transform: translateZ(0);
      @include animation(transform);

      &:nth-child(1){
        transform: translateY(0%);
      }

      &:nth-child(2) {
        transform: translateY(-100%);
      }
    }

  }

  &:hover &__list {
    visibility: visible;
    opacity: 1;

    .lang__item {
      transform: translateY(0);
    }

  }

}

.burger {
  position: relative;
  background: none;
  border: none;
  width: 3rem;
  height: 2rem;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: .5rem;
    background: $primary_color;
    border-radius: .9rem;
    opacity: 1;
    left: 0;
    transform: rotate(0deg) translateZ(0);

    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: transform, left, top, opacity;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 1rem;
    }

    &:nth-child(3) {
      top: 2rem;
    }
  }

  &:hover:not(.open) span {

    &:nth-child(1) {
      transform: translateX(.2rem) translateZ(0);;
    }

    &:nth-child(2) {
      transform: translateX(-.2rem) translateZ(0);;
    }

    &:nth-child(3) {
      transform: translateX(.2rem) translateZ(0);;
    }
  }

  .open & span {

    &:nth-child(1) {
      top: 1rem;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    &:nth-child(2) {
      opacity: 0;
      left: -6rem;
    }

    &:nth-child(3) {
      top: 1rem;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}
