<footer id="footer" class="footer">
    <div class="text-center">
        <p class="footer__site-name">pravo agency:</p>
        <div class="footer__contacts">
            <span>01001, Киев, ул.Костёльная 9, оф.8</span>
            <span>+380 (67) 324 10 10</span>
            <a href="mailto:hello@pravo.agency">hello@pravo.agency</a>
        </div>
        <div class="footer__social social">
            <a href="#" target="_blank" class="social__link social__link_fb">
                <div class="self-center">
                    <i class="social__icon social__icon_fb"></i>
                </div>
            </a>
            <a href="#" target="_blank" class="social__link social__link_tw">
                <div class="self-center">
                    <i class="social__icon social__icon_tw"></i>
                </div>
            </a>
            <a href="#" target="_blank" class="social__link social__link_in">
                <div class="self-center">
                    <i class="social__icon social__icon_in"></i>
                </div>
            </a>
        </div>
        <p class="footer__copyright" role="contentinfo">© 2015, <b>Pravo agency</b></p>
    </div>
</footer>
