<header id="header" class="header">
    <div class="wrap wrap--left">
        <a href="/" class="header__logo"><img src="assets/img/svg/logo.svg" alt="pravo agency logo" scale="0"/></a>

        <nav class="header__nav">
            <ul class="header__menu">
                <li><a href="#services">Услуги и цены</a></li>
                <li><a href="#testimonials">Отзывы</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>

            <div class="header__lang-choose selectric--lang">
                <select class="js_select">
                    <option value="ru">Ru</option>
                    <option value="En">En</option>
                    <option value="Ua">Ua</option>
                </select>
            </div>
        </nav>
    </div>
</header>
