<section id="testimonials" class="section section--testimonials testimonials">
    <article>
        <header class="section__header text-center">
            <h3 class="heading heading--underline heading--center">Отзывы</h3>
            <p>Мнение наших клиентов <strong>делает мир и нас лучше :)</strong></p>
        </header>
        <div class="testimonials__container">
            <div class="wrap wrap--grid">
                <blockquote class="testimonials__block testimonials__block_text col-1-3">
                    <p>Главная тема для меня – любовь.
                        Мы все хотим ее, но не знаем как получить, поэтому все,
                        что мы делаем, — это всего лишь попытки найти счастье.</p>
                    <div class="testimonials__author-image">
                        <img src="assets/img/testimonials-photo1.jpg" alt="author photo">
                    </div>
                    <footer class="testimonials__meta">
                        <p class="testimonials__author-name">Алексей Фёдоров</p>
                        <p class="testimonials__author-info">CEO <a href="#" target="_blank" rel="nofollow">deco.agency</a></p>
                    </footer>
                </blockquote>
                <blockquote class="testimonials__block testimonials__block_text col-1-3">
                    <p>Главная тема для меня – любовь.
                        Мы все хотим ее, но не знаем как получить, поэтому все,
                        что мы делаем, — это всего лишь попытки найти счастье.</p>
                    <div class="testimonials__author-image">
                        <img src="assets/img/testimonials-photo2.jpg" alt="author photo">
                    </div>
                    <footer class="testimonials__meta">
                        <p class="testimonials__author-name">Артур Оруджалиев</p>
                        <p class="testimonials__author-info">CEO <a href="#" target="_blank" rel="nofollow">AIN.ua</a></p>
                    </footer>
            </blockquote>
                <blockquote class="testimonials__block testimonials__block_video col-1-3">
                    <div class="testimonials__video">
                        <span class="modal__link" data-url="//www.youtube.com/watch?v=aQn5wiDyUHo?autoplay=1&cc_load_policy=1">
                            <img src="assets/img/testimonials-video1.jpg" alt="video screen" >
                        </span>
                    </div>
                    <footer class="testimonials__meta">
                        <p class="testimonials__author-name">Григорий Маленко</p>
                        <p class="testimonials__author-info">CEO <a href="#" target="_blank" rel="nofollow">SERM.ua</a></p>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="text-center testimonials__loadmore js_loadmore"><button class="btn--text btn--loadmore btn--icon"><?xml version="1.0" encoding="utf-8"?>
            <svg class="svg--loadmore" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 41 41" style="enable-background:new 0 0 41 41;" xml:space="preserve">
                    <g>
                        <path class="st0" d="M9,30.3c3.7,4.5,9.4,6.3,14.7,5.3"/>
                        <g>
                            <g>
                                <path class="st1" d="M6,15.7c-1.5,4.7-0.7,10,2.7,14.2"/>
                                <g>
                                    <polygon class="st2" points="0.3,14.3 10.8,8.6 10.5,20.6 				"/>
                                </g>
                            </g>
                        </g>
                    </g>
                    <g>
                        <path class="st0" d="M32,10.7c-3.7-4.5-9.4-6.3-14.7-5.3"/>
                        <g>
                            <g>
                                <path class="st1" d="M35,25.3c1.5-4.7,0.7-10-2.7-14.2"/>
                                <g>
                                    <polygon class="st2" points="40.7,26.7 30.2,32.4 30.5,20.4 				"/>
                                </g>
                            </g>
                        </g>
                    </g>
                    </svg>
            загрузить еще</button></div>
    </article>
</section>
