<section class="section section--welcome welcome">
    <div class="wrap wrap--full-height wrap--left">
        <div class="welcome__content">
            <h2 class="heading heading--underline">Правовое сопровождение малого ИТ-бизнеса</h2>
            <p>Зачастую интернет-проекты, разработчики, маркетологи,
                дизайнеры, стартаперы и другие IT-специалисты не
                уделяют должного внимания правовым аспектам своей деятельности.</p>
            <p>Но <strong>документы должны быть в порядке</strong>, и мы в этом поможем.</p>
            <a href="#services" class="btn btn--icon">Услуги и цены</a>
        </div>
    </div>
</section>
